$primary-color: #004D4D;
$accent-color: #81a09d;
$accent-hover: #7a9e9a;
$section-bg-blue: #F8F9FA;

@mixin image-backgrounds($image_path) {
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    background-attachment: scroll;
    background-position: center center;
    background-image: url($image_path);
}

* {
    margin: 0;
    padding: 0;
}
.nav {
background: $primary-color;
    ul {
        color: #fff;
    }
}

 .titleBox {
    @include image-backgrounds('/dist/img/header-trees.jpg');

 }

 .main {
     height: 400px;
 }

 .contact {
     @include image-backgrounds('/dist/img/meadow.jpg');
     height: 600px;
 }