$primary-color: #004D4D;
$accent-color: #81a09d;
$accent-hover: #7a9e9a;
$section-bg-blue: #F8F9FA;

@mixin image-backgrounds($image_path) {
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    background-attachment: scroll;
    background-position: center center;
    background-image: url($image_path);
}

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#navbar {
    background: $primary-color;
    position: fixed;
    top: -75px;
    height: 75px;
    display: block;
    width: 100%;
    transition: top 0.3s ease-in;
    ul {
        color: #fff;
        list-style-type: none;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        li {
            padding: 1em;
        }
    }
}

.nav-scroll {
    background: $primary-color;
}

 .titleBox {
    @include image-backgrounds('/dist/img/header-trees.jpg');
    h1 {
        color: #fff;
        font-size: 6em;
        padding: 2em 0em .75em;
    }
    h3 {
        color: #fff;
        font-size: 3em;
        padding-bottom: 1em;
    }
    button {
        margin-bottom: 12em;
    }

 }

 .main {
     height: 800px;
 }

 .contact {
     @include image-backgrounds('/dist/img/meadow.jpg');
     height: 600px;
 }